@using OnlineStore.Models.Home
@model HomeViewModel
<!-- pass data to partial -->
<partial name="_CarouselPartialView" model="Model.CarouselItems"/>
<partial name="_FeaturedProductsPartial" model="Model.FeaturedProducts" />
<partial name="_SpecialOffersPartial" model="Model.SpecialOffer" />
<partial name="_TestimonialsPartial" model="Model.Testimonials"/>
<partial name="_CategoriesPartial" model="Model.Categorys"/>
<partial name="_FeaturedProductsPartial" model="Model.NewArrivals" view-data='new ViewDataDictionary(ViewData)
{{"Title","New Arrivals"}}' />
<partial name="_CallToActionPartial" model="Model.CallToAction"/>

  
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

